## Finding Similarity between animals

In [44]:
import pandas as pd
import math

In [45]:
animals_data = pd.read_csv(r"D:\Tasneem\SEM 7\CEN-791 Data Mining Lab\animal.txt")

In [46]:
print(animals_data)

   Unnamed: 0  war  fly  ver  end  gro  hai
0         ant    1    1    1  1.0  2.0    1
1         bee    1    2    1  1.0  2.0    2
2         cat    2    1    2  1.0  1.0    2
3         cpl    1    1    1  1.0  1.0    2
4         chi    2    1    2  2.0  2.0    2
5         cow    2    1    2  1.0  2.0    2
6         duc    2    2    2  1.0  2.0    1
7         eag    2    2    2  2.0  1.0    1
8         ele    2    1    2  2.0  2.0    1
9         fly    1    2    1  1.0  1.0    1
10        fro    1    1    2  2.0  NaN    1
11        her    1    1    2  1.0  2.0    1
12        lio    2    1    2  NaN  2.0    2
13        liz    1    1    2  1.0  1.0    1
14        lob    1    1    1  1.0  NaN    1
15        man    2    1    2  2.0  2.0    2
16        rab    2    1    2  1.0  2.0    2
17        sal    1    1    2  1.0  NaN    1
18        spi    1    1    1  NaN  1.0    2
19        wha    2    1    2  2.0  2.0    1

In [47]:
animals_array = animals_data.to_numpy(na_value = 0)

In [48]:
print(animals_array)

[['ant' 1 1 1 1.0 2.0 1]
 ['bee' 1 2 1 1.0 2.0 2]
 ['cat' 2 1 2 1.0 1.0 2]
 ['cpl' 1 1 1 1.0 1.0 2]
 ['chi' 2 1 2 2.0 2.0 2]
 ['cow' 2 1 2 1.0 2.0 2]
 ['duc' 2 2 2 1.0 2.0 1]
 ['eag' 2 2 2 2.0 1.0 1]
 ['ele' 2 1 2 2.0 2.0 1]
 ['fly' 1 2 1 1.0 1.0 1]
 ['fro' 1 1 2 2.0 0 1]
 ['her' 1 1 2 1.0 2.0 1]
 ['lio' 2 1 2 0 2.0 2]
 ['liz' 1 1 2 1.0 1.0 1]
 ['lob' 1 1 1 1.0 0 1]
 ['man' 2 1 2 2.0 2.0 2]
 ['rab' 2 1 2 1.0 2.0 2]
 ['sal' 1 1 2 1.0 0 1]
 ['spi' 1 1 1 0 1.0 2]
 ['wha' 2 1 2 2.0 2.0 1]]

In [49]:
ans = []
new = []

for i in range(0, 20):
    for j in range(i + 1, 20):
        sum = 0
        for col in range(1, 7):
            if(animals_array[i][col] == 0 or animals_array[j][col] == 0):
                continue
            else:
                diff = (animals_array[i][col] - animals_array[j][col])
                sum += diff * diff;

        similarity = math.sqrt(sum)
        similarity = round(similarity, 2)
        
        new.append(animals_array[i][0])
        new.append(animals_array[j][0])
        new.append(similarity)
        ans.append(new)
        new = []

In [50]:
ans.sort(key = lambda x:x[2], reverse = True)

for i in range(0, 10):
    print(ans[i])

['chi', 'fly', 2.45]
['fly', 'man', 2.45]
['ant', 'eag', 2.24]
['bee', 'eag', 2.24]
['bee', 'ele', 2.24]
['bee', 'wha', 2.24]
['cpl', 'duc', 2.24]
['cpl', 'eag', 2.24]
['cpl', 'ele', 2.24]
['cpl', 'wha', 2.24]